

.Video{
  padding: 5px 9px 10px 5px;
}

.Video iframe {
  border-width: 0;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.Video .Title{
  font-size: 13px;
  text-transform: capitalize;
  font-weight: bold;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .Video{
    /* padding: 5px 9px 10px 5px; */
   
    flex-grow: 1;
    flex-basis: 200px;
    margin: 5px;
    margin-bottom: 10px;
  }

  .Video .Title{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: bold;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}